@media (max-width:1399px) {
    .hero-content {
       top: 22px;
    }
    .noslide {
        width: 30%;
    }
    .slider-container {
        width: 60%;
        display: flex;
    }
    .slider-row{
        justify-content: space-between;
    }
}


@media (max-width:1199px) {
    .hero-banner{
        padding-top: 60px;
    }
    .hero-content {
        top: 60px;
     }
     .slider-row{
        flex-direction: column;
     }
     .noslide {
        width: 100%;
    }
    .slider-container {
        width: 100%;
    }
    .sliding-lists{
        margin-top: 25px;
    }
}

@media (max-width:991px) {
    .container{
        max-width: 900px;
        margin: 0 auto;
    }
    .hero-banner {
        padding-top: 120px;
    }
    .text{
        font-size: 22px;
        max-width: none;
    }
    .profile1 {
        top: -60px;
        left: 8%;
    }
    .profile3 {
        top: -70px;
        right: 20%;
    }
    .profile4 {
        bottom: -50px;
        left: 6%;
    }
    .profile2 {
        top: 80px;
        right: 0%; 
    }
    .feature-row{
        justify-content: space-around;
    }
    .first-feature , .second-feature , .third-feature , .fourth-feature{
        width: 50%;
    }
    .second-feature{
        padding: 0;
    }
    .cards-row{
        flex-wrap: wrap;
    }
    .first-card, .second-card, .third-card, .fourth-card {
        width: 48%;
    }
    .footer-lists{
        flex-wrap: wrap;
    }
    .footer-rows{
        width: 33%;
    }
    .footer-rows:nth-child(4) {
        margin-top: 20px;
    }
    .footer-rows:nth-child(5) {
        margin-top: 20px;
    }
}

@media (max-width:767px) {
    .container{
       padding: 0 20px;
       width: 100%;
    }
    .hero-banner{
        padding-top: 30px;
        z-index: -2;
    }
    .navbar-list li {
        font-size: 17px;
    }
    .sd-bttn{
        margin-top: 20px;
    }
    .sd-bttn a{
        background: #d15ce2;
        padding: 11px 19px;
        border-radius: 20px;
        color: #000;
        font-size: 16px;
    }
    .up-logo{
        z-index: 2222;
    }
    .hero-content {
        position: relative;
        top: 0;
    }
    .hero-content h1{
        font-size: 36px;
    }
    .first-feature img {
        width: 100%;
    }
    .fourth-feature img {
        width: 100%;
    }
    .third-feature{
        padding: 0;
    }
    .third-feature , .fourth-feature {
        margin-top: 40px;
    }
    .third-feature h3 , .second-feature h3{
        font-size: 27px;
    }
    .cards-row {
        justify-content: center;
    }
    .first-card, .second-card, .third-card, .fourth-card {
        width: 100%;
    }
    .toggle {
        margin-top: 0px;
        right: 20px;
        position: absolute;
        z-index: 2222;
    }
    .header-bar{
        justify-content: left;
    }
    .toggle {
        display: flex !important;
    }
    .toggle.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .toggle.active span:nth-child(2) {
        opacity: 0;
    }
    .toggle.active span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .for-mob{
        display: block;
    }
    .for-dektop{
        display: none;
    }
    .navbar-list {
        flex-direction: column;
        justify-content: flex-start !important;
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        width: 300px;
        text-align: center;
        background-color: pink;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        gap: 20px;
        transition: left 0.5s ease;
        z-index: 1000;
    }
}

@media screen and (max-width:575px) {
    .container{
        width: 100%;
    }
    .feature-row{
        flex-direction: column;
        justify-content: center;
    }
    .first-feature, .second-feature, .third-feature, .fourth-feature {
        width: 100%;
    }
    .second-feature , .third-feature{
        padding-left: 20px;
    }

}